<h1>Agregar nuevo post</h1> 

<form id="create_posts" method="get" action="/posts/create">
    <div class="form-group">
        <label for="title">Titulo de publicación</label>
        <input name="title" type="text" class="form-control">
    </div>

    <div class="form-group"> 
        <label for="image_url">URL imagen post</label>
        <input name="image_url" type="text" class="form-control"> 
    </div>

    <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" class="form-control"> </textarea>
    </div>
        <button type="submit" class="btn btn-primary">Subir</button> 
</form>